* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
   
    font-family: 'Open Sans', sans-serif;
    background-image: url('gambar1.jpg'); 
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.627); 
    z-index: 0; /* Di bawah konten lainnya */
}



.wrepper {
    width: 1300px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Lucida Bright';
    color: #ffffff; 
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    background: rgba(50, 50, 50, 0.744); 
    z-index: 1;
   
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #ffffff; 
    font-weight: bold;
    text-align: center;
    padding: 0px 16px;
    font-family: 'Lusitana';
}

nav ul li a:hover {
    text-decoration: underline; 
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 20px;
}

.title {
    margin-top: 50px;
    margin-bottom: 0px;
}

.title .deskripsi {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Comic Sans MS';
    color: #ffffff; 
}

img {
    margin-top: 50px;
    border-radius: 15px;
    margin-right: 20px;
    width: 40%;
    transition: transform 0.3s; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

img:hover {
    transform: scale(1.05); 
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    font-family: 'Comic Sans MS';
    font-weight: 1000;
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff; 
    width: 100%;
    line-height: 50px;
}

p {
    font-family: 'Comic Sans MS';
    color: #d3d3d3; 
}
footer {
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    padding: 20px 0; 
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    width: 1300px;
    margin: auto;
}

footer p {
    margin: 10px 0;
    font-size: 14px;
}

footer .socials {
    list-style: none; 
    padding: 0;
    display: flex;
    justify-content: center; 
    margin: 20px 0;
}

footer .socials li {
    margin: 0 10px;
}

footer .socials li a {
    color: #fff; 
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease; 
}

footer .socials li a:hover {
    color: #fd98df;
}

